// sass --watch src/scss/main.scss:src/styles/main.css

@import 'normalize';
@import 'variables';

body {
	font-family: $main-font;
	background-color: $dark-grey;
	color: $main-font-color;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

.accent {
	color: $accent-color;
}

.main-container {
	display: flex;
	height: 100vh;

	.portfolio-pic {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 30%;
		margin: 20px 10px 20px 20px;
		background-color: black;

		&:hover {
			cursor: pointer;
		}

		#tsparticles {
			height: 100%;
		}
	}

	.content-area {
		width: 70%;
		margin: 20px 20px 20px 10px;

		.blocks {
			display: flex;
			flex-direction: column;
			font-size: 1.8rem;
			width: 100%;
			height: 100%;

			.top-row,
			.bottom-row {
				display: flex;
				justify-content: space-between;
				height: 50%;
				font-weight: 900;

				.block-1,
				.block-2,
				.block-3,
				.block-4 {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					width: 50%;
					background-color: $med-grey;

					h2 {
						font-size: 30px;
					}

					.accent {
						color: $accent-color;
					}

					.white {
						color: $main-font-color;
					}
				}
			}

			.top-row {
				margin-bottom: 10px;

				.block-1 {
					margin-right: 10px;
					background-color: $dark-grey;

					.name {
						font-size: 3rem;
						margin: 0 0 25px 0;
					}

					.Typewriter {
						color: $accent-color;
					}
				}

				.block-2 {
					margin-left: 10px;
					transition: all 0.5s ease-in-out;

					h2 {
						.accent {
							transition: all 0.3s ease-in-out;
							color: $accent-color;
						}

						.white {
							transition: all 0.3s ease-in-out;
							color: $main-font-color;
						}
					}

					&:hover {
						border: 1px solid #ffb30036;

						h2 {
							.accent {
								color: $main-font-color;
							}

							.white {
								color: $accent-color;
							}
						}
					}
				}
			}

			.bottom-row {
				margin-top: 10px;

				.block-3 {
					margin-right: 10px;
					transition: all 0.5s ease-in-out;

					h2 {
						.accent {
							transition: all 0.3s ease-in-out;
							color: $accent-color;
						}

						.white {
							transition: all 0.3s ease-in-out;
							color: $main-font-color;
						}
					}

					&:hover {
						border: 1px solid #ffb30036;

						h2 {
							.accent {
								color: $main-font-color;
							}

							.white {
								color: $accent-color;
							}
						}
					}
				}

				.block-4 {
					margin-left: 10px;
					transition: all 0.5s ease-in-out;

					h2 {
						.accent {
							transition: all 0.3s ease-in-out;
							color: $accent-color;
						}

						.white {
							transition: all 0.3s ease-in-out;
							color: $main-font-color;
						}
					}

					&:hover {
						border: 1px solid #ffb30036;

						h2 {
							.accent {
								color: $main-font-color;
							}

							.white {
								color: $accent-color;
							}
						}
					}
				}
			}
		}

		.about-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			height: 100%;

			.close-icon {
				transition: all 0.3s ease-in-out;
				position: fixed;
				top: 0px;
				right: 0px;
				color: $accent-color;
				font-size: 50px;

				&:hover {
					cursor: pointer;
					transform: rotate(360deg);
				}
			}

			.page-title {
				margin-bottom: 20px;
				h2 {
					font-size: 50px;
					font-weight: bolder;
				}
			}

			.info-section {
				.divider {
					span {
						display: inline-block;
						vertical-align: middle;
					}

					.v-card {
						font-size: 30px;
						margin: 0 20px;
						color: $accent-color;
					}

					.outer-line {
						width: 25%;
						border-bottom: 1px solid $main-font-color;
					}
				}

				.personal-info {
					h6 {
						font-size: 30px;
						margin-bottom: 20px;

						.person-icon {
							color: $accent-color;
							font-size: 22px;
							margin-right: 10px;
						}
					}

					.description {
						font-size: 20px;
						font-weight: lighter;
						line-height: 2;
					}
				}

				.split-section {
					display: flex;

					.contact {
						list-style: none;
						padding: 0;
						font-size: 20px;
						width: 50%;

						li {
							padding-bottom: 5px;
							line-height: 1.4;

							.bold {
								font-weight: bold;
							}

							a {
								color: $accent-color;
							}
						}
					}

					.buttons {
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
						justify-content: center;
						width: 50%;

						.resume-btn {
							display: flex;
							justify-content: center;
							align-items: middle;
							color: $dark-grey;
							background-color: $accent-color;
							margin: 10px 0;
							width: 250px;

							.btn-icon {
								font-weight: bold;
								margin-left: 10px;
							}
						}

						.blog-btn {
							display: flex;
							justify-content: center;
							align-items: middle;
							color: $accent-color;
							background-color: transparent;
							border: 1px solid $accent-color;
							margin: 10px 0;
							width: 250px;

							.btn-icon {
								font-weight: bold;
								margin-left: 10px;
							}
						}
					}
				}
			}
		}
	}
}

@import 'elements';
