// sass --watch src/scss/main.scss:src/styles/main.css

@import 'normalize';
@import 'variables';

body {
	font-family: $main-font;
	background-color: $dark-grey;
	color: $main-font-color;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

body > div:nth-child(6) > div {
	display: flex;
	align-items: center;
	text-align: center;
	align-items: center;

	.score {
		font-size: 1.5rem;
		font-weight: bold;
		color: $accent-color;
	}

	.ui.button {
		background-color: $accent-color;
	}
}

.accent {
	color: $accent-color;
}

.main-container {
	display: flex;
	height: 100vh;

	.portfolio-pic {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 25%;
		margin: 20px 10px 20px 20px;
		background-color: black;

		&:hover {
			cursor: pointer;
		}

		#tsparticles {
			height: 100%;
		}
	}

	.content-area {
		display: flex;
		// justify-content: center;
		width: 75%;
		margin: 20px 20px 20px 10px;
		position: absolute;

		.blocks {
			display: flex;
			flex-direction: column;
			font-size: 1.8rem;
			width: 100%;

			.top-row,
			.bottom-row {
				display: flex;
				justify-content: space-between;
				height: 50%;
				font-weight: 900;

				.block-1,
				.block-2,
				.block-3,
				.block-4 {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					text-align: center;
					width: 50%;
					background-color: $med-grey;

					h2 {
						font-size: 30px;
					}

					.accent {
						color: $accent-color;
					}

					.white {
						color: $main-font-color;
					}
				}
			}

			.top-row {
				margin-bottom: 10px;

				.block-1 {
					margin-right: 10px;
					background-color: $dark-grey;

					.name {
						font-size: 3rem;
						margin: 0 0 25px 0;
					}

					.Typewriter {
						color: $accent-color;
					}
				}

				.block-2 {
					margin-left: 10px;
					transition: all 0.5s ease-in-out;

					h2 {
						.accent {
							transition: all 0.3s ease-in-out;
							color: $accent-color;
						}

						.white {
							transition: all 0.3s ease-in-out;
							color: $main-font-color;
						}
					}

					&:hover {
						border: 1px solid #ffb30036;

						h2 {
							.accent {
								color: $main-font-color;
							}

							.white {
								color: $accent-color;
							}
						}
					}
				}
			}

			.bottom-row {
				margin-top: 10px;

				.block-3 {
					margin-right: 10px;
					transition: all 0.5s ease-in-out;

					h2 {
						.accent {
							transition: all 0.3s ease-in-out;
							color: $accent-color;
						}

						.white {
							transition: all 0.3s ease-in-out;
							color: $main-font-color;
						}
					}

					&:hover {
						border: 1px solid #ffb30036;

						h2 {
							.accent {
								color: $main-font-color;
							}

							.white {
								color: $accent-color;
							}
						}
					}
				}

				.block-4 {
					margin-left: 10px;
					transition: all 0.5s ease-in-out;

					h2 {
						.accent {
							transition: all 0.3s ease-in-out;
							color: $accent-color;
						}

						.white {
							transition: all 0.3s ease-in-out;
							color: $main-font-color;
						}
					}

					&:hover {
						border: 1px solid #ffb30036;

						h2 {
							.accent {
								color: $main-font-color;
							}

							.white {
								color: $accent-color;
							}
						}
					}
				}
			}
		}

		.about-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin: auto;

			.close-icon {
				transition: all 0.3s ease-in-out;
				position: fixed;
				top: 20px;
				right: 30px;
				color: $accent-color;
				font-size: 50px;

				&:hover {
					cursor: pointer;
					transform: rotate(360deg);
				}
			}

			.page-title {
				margin-bottom: 20px;
				h2 {
					font-size: 50px;
					font-weight: bolder;
				}
			}

			.info-section {
				.divider {
					span {
						display: inline-block;
						vertical-align: middle;
					}

					.v-card {
						font-size: 30px;
						margin: 0 20px;
						color: $accent-color;
					}

					.outer-line {
						width: 25%;
						border-bottom: 1px solid $main-font-color;
					}
				}

				.personal-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					h6 {
						font-size: 30px;
						margin-bottom: 20px;
						line-height: 1.1;

						.person-icon {
							color: $accent-color;
							font-size: 22px;
							margin-right: 10px;
						}
					}

					.description {
						display: flex;

						font-size: 20px;
						font-weight: lighter;
						line-height: 2;
						width: 90%;
					}

					.certificate-image {
						display: flex;
						width: 100%;
						justify-content: center;
						align-items: center;

						a {
							&:hover {
								cursor: zoom-in;
							}
						}
					}
				}

				.split-section {
					display: flex;
					width: 100%;

					.contact {
						list-style: none;
						padding: 0;
						font-size: 20px;
						width: 50%;

						li {
							padding-bottom: 5px;
							line-height: 1.4;

							.bold {
								font-weight: bold;
							}

							a {
								color: $accent-color;
							}
						}
					}

					.buttons {
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
						justify-content: center;
						width: 50%;

						.resume-btn {
							display: flex;
							justify-content: center;
							align-items: middle;
							color: $dark-grey;
							background-color: $accent-color;
							margin: 10px 0;
							width: 250px;
							border: 1px solid $dark-grey;

							.btn-icon {
								font-weight: bold;
								margin-left: 10px;
							}

							&:hover {
								background-color: $dark-grey;
								color: $accent-color;
								border: 1px solid $accent-color;
							}
						}

						.blog-btn {
							display: flex;
							justify-content: center;
							align-items: middle;
							color: $accent-color;
							background-color: transparent;
							border: 1px solid $accent-color;
							margin: 10px 0;
							width: 250px;

							.btn-icon {
								font-weight: bold;
								margin-left: 10px;
							}

							&:hover {
								background-color: $accent-color;
								color: $dark-grey;
							}
						}
					}
				}
			}
		}

		.learning-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin: auto;

			.close-icon {
				transition: all 0.3s ease-in-out;
				position: fixed;
				top: 20px;
				right: 30px;
				color: $accent-color;
				font-size: 50px;

				&:hover {
					cursor: pointer;
					transform: rotate(360deg);
				}
			}

			.page-title {
				margin-bottom: 20px;
				h2 {
					font-size: 50px;
					font-weight: bolder;
				}
			}

			.info-section {
				.divider {
					span {
						display: inline-block;
						vertical-align: middle;
					}

					.v-card {
						font-size: 30px;
						margin: 0 20px;
						color: $accent-color;
					}

					.outer-line {
						width: 25%;
						border-bottom: 1px solid $main-font-color;
					}
				}

				.learning-info {
					width: 100%;

					.learning-items {
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						text-align: center;
						margin-top: 20px;
						width: 100%;

						.divider {
							width: 100%;
							margin: 20px 0;
							margin-top: 40px;
							span {
								display: inline-block;
								vertical-align: middle;
							}

							.v-card {
								font-size: 30px;
								margin: 0 20px;
								color: $accent-color;
							}

							.outer-line {
								width: 25%;
								border-bottom: 1px solid $main-font-color;
							}
						}

						.certificates {
							display: flex;
							flex-direction: column;
							width: 100%;
							justify-content: space-around;
							align-items: center;
							margin: 20px 0;

							h2 {
								font-size: 2.5rem;
								margin-bottom: 40px;
							}

							.certificates-container {
								display: flex;
								flex-wrap: wrap;
								justify-content: space-around;
								align-items: center;
								width: 100%;

								.certificate {
									&:hover {
										cursor: zoom-in;
									}
								}
							}
						}

						.badges {
							display: flex;
							flex-direction: column;
							width: 100%;
							justify-content: space-around;
							align-items: center;
							margin: 20px 0;

							h2 {
								font-size: 2.5rem;
							}

							.badges-container {
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								justify-content: center;

								.badge-verify {
									a {
										margin: 5px 0;
									}
								}

								.badge-image {
									margin: 10px;
									padding: 5px;
									width: 200px;

									img {
										width: 100%;
									}
								}
							}
						}

						.project {
							position: relative;
							background: $accent-color;
							margin: 10px;
							border: 1px solid $accent-color;
							overflow: hidden;
							cursor: pointer;

							&::after {
								content: '';
								position: absolute;
								background: inherit;
								opacity: 0.9;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								transform: scale(2) translateX(-75%) translateY(-75%)
									rotate(-28deg);
								transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
							}

							&:hover:after {
								transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
							}

							&:hover {
								.project-image {
									transform: scale(1.2);
								}
							}

							&:hover {
								.project-name {
									opacity: 1;
									transform: translateY(0);
									z-index: 100;
								}
							}

							&-image {
								height: auto;
								transform: translateZ(0);
								display: block;
								transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
							}

							&-name-wrap {
								position: absolute;
								top: 95%;
								left: 0;
								width: 100%;
								height: 100%;
								transform: translateY(-50%);
								z-index: 100;
							}

							&-name {
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								opacity: 0;
								text-align: center;
								color: $main-font-color;
								font-size: 1.5rem;
								font-weight: bold;
								transform: translateY(-20%);
								transition: opacity 400ms cubic-bezier(0.2, 1, 0.3, 1),
									transform 400ms cubic-bezier(0.2, 1, 0.3, 1);
								transition-delay: 600ms;
							}
						}
					}
				}
			}
		}

		.portfolio-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin: auto;

			.close-icon {
				transition: all 0.3s ease-in-out;
				position: fixed;
				top: 20px;
				right: 30px;
				color: $accent-color;
				font-size: 50px;

				&:hover {
					cursor: pointer;
					transform: rotate(360deg);
				}
			}

			.page-title {
				margin-bottom: 20px;
				h2 {
					font-size: 50px;
					font-weight: bolder;
				}
			}

			.info-section {
				.divider {
					span {
						display: inline-block;
						vertical-align: middle;
					}

					.v-card {
						font-size: 30px;
						margin: 0 20px;
						color: $accent-color;
					}

					.outer-line {
						width: 25%;
						border-bottom: 1px solid $main-font-color;
					}
				}

				.projects-info {
					.projects {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						text-align: center;
						margin-top: 20px;

						.project {
							position: relative;
							background: $accent-color;
							margin: 10px;
							border: 1px solid $accent-color;
							overflow: hidden;
							cursor: pointer;

							&::after {
								content: '';
								position: absolute;
								background: inherit;
								opacity: 0.9;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								transform: scale(2) translateX(-75%) translateY(-75%)
									rotate(-28deg);
								transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
							}

							&:hover:after {
								transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
							}

							&:hover {
								.project-image {
									transform: scale(1.2);
								}
							}

							&:hover {
								.project-name {
									opacity: 1;
									transform: translateY(0);
									z-index: 100;
								}
							}

							&-image {
								height: auto;
								transform: translateZ(0);
								display: block;
								transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
							}

							&-name-wrap {
								position: absolute;
								top: 95%;
								left: 0;
								width: 100%;
								height: 100%;
								transform: translateY(-50%);
								z-index: 100;
							}

							&-name {
								position: absolute;
								top: 0;
								left: 0;
								bottom: 0;
								right: 0;
								opacity: 0;
								text-align: center;
								color: $main-font-color;
								font-size: 1.5rem;
								font-weight: bold;
								transform: translateY(-20%);
								transition: opacity 400ms cubic-bezier(0.2, 1, 0.3, 1),
									transform 400ms cubic-bezier(0.2, 1, 0.3, 1);
								transition-delay: 600ms;
							}
						}
					}
				}
			}
		}

		.project-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin: auto;
			width: 100%;
			padding: 20px;

			.close-icon {
				transition: all 0.3s ease-in-out;
				position: fixed;
				top: 20px;
				right: 30px;
				color: $accent-color;
				font-size: 50px;

				&:hover {
					cursor: pointer;
					transform: rotate(360deg);
				}
			}

			.project-info {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px;
				text-align: left;

				.project-image {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
					margin-right: 20px;
				}

				.project-data {
					display: flex;
					flex-direction: column;
					font-size: 1.1rem;
					width: 50%;

					.align-middle {
						display: flex;
						align-items: middle;
					}

					h2 {
						font-size: 3rem;
						margin-bottom: 20px;
					}

					p {
						font-size: 1.4rem;
					}

					.bold {
						font-weight: bold;
						color: $accent-color;

						&.mr5 {
							margin-right: 5px;
						}
					}
				}
			}

			.buttons {
				display: flex;
				justify-content: center;
				align-items: center;

				a {
					margin: 0 10px;

					button {
						width: 175px;
						background-color: transparent;
						border: 1px solid $accent-color;
						color: $accent-color;
						transition: all 0.3s ease-in-out;

						.btn-icon {
							margin-left: 10px;
						}

						&:hover {
							background-color: $accent-color;
							border: 1px solid $accent-color;
							color: $dark-grey;
						}
					}
				}
			}
		}

		.contact-section {
			// position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			margin: auto;
			width: 100%;
			padding: 20px;

			.close-icon {
				transition: all 0.3s ease-in-out;
				position: fixed;
				top: 20px;
				right: 30px;
				color: $accent-color;
				font-size: 50px;

				&:hover {
					cursor: pointer;
					transform: rotate(360deg);
				}
			}

			.page-title {
				margin-bottom: 20px;
				h2 {
					font-size: 50px;
					font-weight: bolder;
				}
			}

			.info-section {
				.divider {
					margin-bottom: 20px;
					span {
						display: inline-block;
						vertical-align: middle;
					}

					.v-card {
						font-size: 30px;
						margin: 0 20px;
						color: $accent-color;
					}

					.outer-line {
						width: 25%;
						border-bottom: 1px solid $main-font-color;
					}
				}

				.personal-info {
					h6 {
						font-size: 30px;
						margin-bottom: 20px;

						.person-icon {
							color: $accent-color;
							font-size: 22px;
							margin-right: 10px;
						}
					}

					.description {
						font-size: 20px;
						font-weight: lighter;
						line-height: 2;
					}
				}

				.split-section {
					display: flex;

					.contact {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						list-style: none;
						padding: 0;
						font-size: 20px;
						width: 50%;
						background-color: $med-grey;
						padding: 10px;
						text-align: left;
						border: 1px solid $accent-color;
						border-radius: 3px;

						.m10 {
							display: flex;
							flex-direction: column;
							align-items: center;
							margin: 10px;

							.socials {
								a {
									margin: 0 5px;

									.dev {
										border: 1px solid $accent-color;
									}
								}
							}
							li {
								padding-bottom: 5px;
								line-height: 1.4;

								.bold {
									font-weight: bold;
								}

								a {
									color: $accent-color;
								}
							}
						}
					}

					.form {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 50%;
						margin: 20px auto;
						padding: 20px;

						.note {
							width: 100%;
							h6 {
								margin: 0;
								margin-bottom: 20px;
							}
						}

						.form-fields {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							width: 100%;

							.name,
							.email,
							.text-area {
								display: flex;
								width: 100%;
								margin: 5px auto;

								.MuiFilledInput-root,
								label {
									color: $main-font-color;
								}
							}
						}
					}

					.buttons {
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
						justify-content: center;
						width: 50%;

						.resume-btn {
							display: flex;
							justify-content: center;
							align-items: middle;
							color: $dark-grey;
							background-color: $accent-color;
							margin: 10px 0;
							width: 250px;
							border: 1px solid $dark-grey;

							.btn-icon {
								font-weight: bold;
								margin-left: 10px;
							}

							&:hover {
								background-color: $dark-grey;
								color: $accent-color;
								border: 1px solid $accent-color;
							}
						}

						.blog-btn {
							display: flex;
							justify-content: center;
							align-items: middle;
							color: $accent-color;
							background-color: transparent;
							border: 1px solid $accent-color;
							margin: 10px 0;
							width: 250px;

							.btn-icon {
								font-weight: bold;
								margin-left: 10px;
							}

							&:hover {
								background-color: $accent-color;
								color: $dark-grey;
							}
						}
					}
				}
			}
		}
	}
}

@import 'mediaQueries';
